In [9]:
#import libraries needed

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calmap
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'calmap'

In [10]:
#read dataset from Kaggle

df = pd.read_csv('supermarket_sales (1).csv')

In [11]:
df.head()

,149-71-6266,B,Mandalay,Member,Male,Sports and travel,78.07,9,35.1315,737.7615,1/28/19,12:43,Cash,702.63,4.761904762,35.1315.1,4.5
0,640-49-2076,B,Mandalay,Normal,Male,Sports and travel,83.78,8.0,33.512,703.752,1/10/19,14:49,Cash,670.24,4.761905,33.512,5.1
1,595-11-5460,A,Yangon,NaN,Male,Health and beauty,96.58,2.0,9.658,202.818,3/15/19,10:12,Credit card,193.16,4.761905,9.658,5.1
2,183-56-6882,C,Naypyitaw,NaN,Female,Food and beverages,99.42,4.0,19.884,417.564,2/6/19,10:42,Ewallet,397.68,4.761905,19.884,7.5
3,232-16-2483,C,Naypyitaw,NaN,Female,Sports and travel,68.12,1.0,3.406,71.526,1/7/19,12:28,Ewallet,68.12,4.761905,3.406,6.8
4,129-29-8530,A,Yangon,NaN,Male,Sports and travel,62.62,5.0,15.655,328.755,3/10/19,19:15,Ewallet,313.10,4.761905,15.655,7.0

In [12]:
df.columns

Index(['149-71-6266', 'B', 'Mandalay', 'Member', 'Male', 'Sports and travel',
       '78.07', '9', '35.1315', '737.7615', '1/28/19', '12:43', 'Cash',
       '702.63', '4.761904762', '35.1315.1', '4.5'],
      dtype='object')

In [14]:
df.describe()

,78.07,9,35.1315,737.7615,702.63,4.761904762,35.1315.1,4.5
count,964.000000,951.000000,971.000000,971.000000,971.000000,9.710000e+02,971.000000,971.000000
mean,55.622832,5.501577,15.346091,322.267914,306.921823,4.761905e+00,15.346091,6.984655
std,26.568059,2.936118,11.748890,246.726690,234.977800,6.131589e-14,11.748890,1.714769
min,10.080000,1.000000,0.508500,10.678500,10.170000,4.761905e+00,0.508500,4.000000
25%,32.580000,3.000000,5.833250,122.498250,116.665000,4.761905e+00,5.833250,5.500000
50%,55.230000,5.000000,12.060000,253.260000,241.200000,4.761905e+00,12.060000,7.000000
75%,77.935000,8.000000,22.429000,471.009000,448.580000,4.761905e+00,22.429000,8.500000
max,99.960000,10.000000,49.650000,1042.650000,993.000000,4.761905e+00,49.650000,10.000000

In [ ]:
df['Date']= pd.to_datetime(df['Date'])

In [ ]:
df.set_index('Date', inplace=True)

In [15]:
#Looking at distribution of customer ratings

sns.distplot(df['Rating'])
plt.axvline(x=np.mean(df['Rating']), c='red', ls='--', label='mean')
plt.axvline(x=np.percentile(df['Rating'], 25), c='green', ls='--', label='25-75th percentile')
plt.axvline(x=np.percentile(df['Rating'], 75), c='green', ls='--')
plt.legend()

KeyError: 'Rating'

In [ ]:
#Check out sale numbers between branches
sns.countplot(df['Branch'])

In [ ]:
#See the exact numbers
df['Branch'].value_counts()

In [ ]:
#Check for relationship between customer rating and gross income
sns.regplot(df['Rating'],df['gross income'])

In [ ]:
#Look for outliers between branch's gross income
sns.boxplot(x=df['Branch'], y=df['gross income'])

In [ ]:
#Check gross income based on days
sns.boxplot(x=df['Branch'], y=df['gross income'])

In [ ]:
sns.pairplot(df)

In [ ]:
#Check how many duplicated rows there are
df.duplicated().sum()

In [ ]:
#Drop duplicated rows
df.duplicated().sum()

In [ ]:
#Check for missing values
df.isna().sum()

In [ ]:
#Look at heatmap of missing values
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
#Fill missing values with the mean from that column
df.fillna(df.mean(), inplace=True)

In [ ]:
#Fill the categorical missing values with the mode
df.fillna(df.mode().iloc[0], inplace=True)